@font-face {
    font-family: Dune;
    src: url(fonts/Dune-Rise/Dune_Rise.ttf);
}
*{
    font-family: Dune;
    padding: 0px;
}
body{
    margin: 0px;
    display: flex;
    flex-direction: column;
}
.hdrlnks{
    margin: 25px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #743C08;
}
.header img{
    width: 80px;
    height: 80px;
}

.header a{
    font-size: medium;
    font-weight: 400;
    padding-right: 8px;
}
.second{
    display: flex;
    padding: 50px 250px;
    justify-content: space-between;
    align-items: center;
    background-color: #e96803;

}
.second img{
    height: 551px;
    width: auto;
}
.secondleft{
    width: 500px;
}
.secondleft.text{
    font-size: 20px;
    padding: 10px 0px;
}
.secondleft button{
    background-color: #743C08;
    padding: 8px;
    font-size: medium;
    border-radius: 5px;
}
.third img{
    border-radius: 15px;
    margin: 20px;
    width: 400px;
    height: 225px;
}
.third{
    
    display: flex;
    flex-direction: column;
    background-color: #F6B61E;
    align-items: center;
    padding: 16px;
}
.third.header{
    font-size: larger;

}
.third.content{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: flex-start;
    gap: 20px;
}
.third.content.media{
    display: flex;
    flex-direction: column;
    width: 450px;
    font-size: 15px;
    font-weight: 800;
}
.quote{
    display: flex;
    background-color: #FFEBAF;
    justify-content: center;
    align-items: center;
    padding: 50px;
    
}
.int{
    display: block;
    width: 800px;
    font-size: x-large;
    font-weight: bold;
    
}
.author{
    display: flex;
    justify-content: end;
    padding-top: 20px;
}