@font-face {
    font-family: Dune;
    src: url(fonts/Dune-Rise/Dune_Rise.ttf);
}
*{
    font-family: Dune;
    padding: 0px;
}
body{
    margin: 0px;
    display: flex;
    flex-direction: column;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: #743C08;
}
.header img{
    width: 80px;
    height: 80px;
}

.header a{
    font-size: medium;
    /* color: #DF760B; */
    padding-right: 8px;
}
.second{
    display: flex;
    padding-top: 100px;
    padding-left: 250px;
    padding-right: 250px;
    justify-content: space-between;
    background-color: #e96803;
}
.second img{
    height: 551px;
    width: auto;
}
.secondleft{
    width: 500px;
}
.secondleft.text{
    font-size: 20px;
    padding: 10px 0px;
}
.secondleft button{
    background-color: #743C08;
    padding: 8px;
    font-size: medium;
    border-radius: 5px;
}
.third img{
    border-radius: 15px;
    margin: 20px;
    width: 400px;
    height: auto;
}
.third{
    display: flex;
    flex-direction: column;
    background-color: #F6B61E;
    align-items: center;
}
.third.header{
    font-size: larger;

}
.third.content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.third.content.media{
    display: flex;
    flex-direction: column;
    
    width: 400px;
}
.third.content.media.one{
    justify-content: start;
}